body{background:blue}
h2{font-family: comic sans as; 
    background-color: red; text-align: center;}
table{background: gray; border-style: solid;}
marquee{border-style: double;}
.td{font-weight: bold;}